/* J'ajoute les polices Fira Mono, qui sont beaucoup utilisé dans des émulateurs
de terminal.*/
@font-face {
    font-family:'Fira Mono';
    src:url('font/Fira_Mono/FiraMono-Bold.ttf');
    font-weight:bolder;
    font-weight:normal
}
@font-face {
    font-family:'Fira Mono';
    src:url('font/Fira_Mono/FiraMono-Medium.ttf');
    font-weight:normal;
    font-style:italic
}
@font-face {
    font-family:'Fira Mono';
    src:url('font/Fira_Mono/FiraMono-Regular.ttf');
    font-weight:bold;
    font-weight:normal
}

.global{
    /* Mise en page centrée */
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:42em;

    background-color:#282a36;
    color:#f8f8f2;

    font-family:'Fira Mono', monospace;
    font-weight:normal;
    font-size:16px;
}

h1{
    display: inline;
    font-family:'Fira Mono', monospace;
    color:#50fa7b;
    font-weight:bold;
    font-size:24px;
}
.h1white{
    display: inherit;
    font-family:'Fira Mono', monospace;
    color:#f8f8f2;
    font-weight:bold;
    font-size:24px;
}

.neofetch{
    display:inline-block;
    color:#f8f8f2;
    font-family:'Fira Mono', monospace;
    font-style:italic;
    font-size:16px;
}

/* Pour que le carré soit bien centré*/
#square{
    text-align: center;
}

/* Les petits carrés de couleur */
#rouge{
    color: #ff5555
}
#orange{
    color: #ffb86c
}
#jaune{
    color: #f1fa8c
}
#vert{
    color: #50fa7b
}
#bleu{
    color: #8be9fd
}
#violet{
    color: #bd93f9
}
#rose{
    color: #ff79c6
}

h2{
    display: inline;
    font-family:'Fira Mono', monospace;
    color:#50fa7b;
    font-weight:bold;
    font-size:20px;
}
.h2white{
    display: inherit;
    font-family:'Fira Mono', monospace;
    color:#f8f8f2;
    font-style:italic;
    font-size:20px;

}
h3{
    font-family:'Fira Mono', monospace;
    color:#ff5555;
    font-style:italic;
    font-size:18px;
}

.competences{
    text-align:center

}
.lien{
    color:#8be9fd;
    text-decoration: none
}